{% extends "base.html" %}
{% block form %}
    <form class="form-group" action="{{ url_for('auth.Login') }}" method=POST>
        <dt>{{ form.username(placeholder="Username", class="form-control") }}</dt>
        <dt>{{ form.password(placeholder="Password", class="form-control") }}</dt>
        <input class="btn btn-info" type="submit" value="Login"/>
    </form>
{% endblock %}
