{% extends "base.html" %}
{% block form %}
    <form class="form-group" action="{{ url_for('Register') }}" method=POST>
        {{ form.firstname(placeholder="First Name", class="form-control") }}
        {{ form.lastname(placeholder="Last Name", class="form-control") }}
        {{ form.username(placeholder="Username*", class="form-control") }}
        {{ form.email(placeholder="Email", class="form-control") }}
        {{ form.password(placeholder="Password*", class="form-control") }}
        {{ form.confirm(placeholder="Password Confirmation*", class="form-control") }}
        <br>
        <input class="btn btn-info" type="submit" value="Register"/>
    </form>
{% endblock %}