{% block html %}
    <html>
    {% block head %}
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Jquery -->
            <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
            <!-- Tether.js -->
            <script src="{{ url_for('static', filename='js/tether-1.3.3/dist/js/tether.js') }}"></script>

            <!-- Bootstrap 4.0.0-alpha6 -->
            <link rel="stylesheet" type="text/css" 
                href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}" />
            <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>

            <!-- Bootstrap -->
            <script src="https://d3js.org/d3.v4.min.js"></script>

            <!-- Send/Get data services -->
            <script src="{{ url_for('static', filename='js/sendData.js') }}"></script>
            <script src="{{ url_for('static', filename='js/getData.js') }}"></script>
        </head>
    {% endblock %}
    {% block title %}
        <title>
            {% if title %}{{ title }}{% else %}Foodie Feelings{% endif %}
        </title>
    {% endblock %}
    {% block body %}
        <body>
            {% if get_flashed_messages() %}
                {% for cat, m in get_flashed_messages(with_categories=True) %}
                    <div>{{ m }}</div>
                {% endfor %}
            {% endif %}

            {% block navbar %}
                {% include "navbar.html" %}
            {% endblock %}
            <div class=container>
                {% block content %}
                    {% block form %}
                    {% endblock %}
                {% endblock %}
            </div>
        </body>
    {% endblock %}
{% endblock %}
</html>