<nav class="navbar navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseBar" aria-controls="collapseBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Food Feelings</a>
    <div id="collapseBar" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('Index') }}">Home</a></li>
            {% if session['logged_in'] %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.Logout') }}">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.RegisterPage') }}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
