{% extends "base.html" %}
{% block content %}
    <a href="{{ url_for('MyFeelings') }}"><h2>{{ session["username"] }}</h2></a>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a id="refreshDiary" class="nav-link active" data-toggle="tab" href="#MyDiary">My Feelings</a>
        </li>
        <li class="nav-item">
            <a id="NewFeelings" class="nav-link" data-toggle="tab" href="#FeelingsFlow">FeelingsFlow&#8482</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#NewEntry">New Entry</a>
        </li>
    </ul>
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active show" id="MyDiary">
            <div id="Diary">{{ diary|safe }}</div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="FeelingsFlow">
            <div id="Flow">Flow~</div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="NewEntry" align=center >
            {% block form %}
                <form id="SimpleFoodForm">
                    <dt>{{ simplefoodform.foodcategory(class="form-control") }}</dt><br>
                    <dt>{{ simplefoodform.description(placeholder="Describe it a bit", class="form-control") }}</dt><br>
                    <dt>{{ simplefoodform.price(placeholder="How much did it cost?", class="form-control") }}</dt><br>
                    <dt>How did you feel afterwards?<br>
                        <span style="color:red">Worse</span>
                        {{ simplefoodform.feels(min=0, max=100, step=0.5, id="FeelingsSlider", class="form-control") }}
                        <span style="color:green">Better</span><br>
                        <div>FeelScore: <span id="SliderValue"></span></div>
                    </dt><br>
                    <input id="SubmitSimpleFoodForm" type="submit" value="I Ated It" />
                </form>
            {% endblock %}
        </div>
    </div>
    <script>
        window.addEventListener("load", function () {
            // Access the form element...
            var SimpleFoodForm = document.getElementById("SimpleFoodForm");
            var diary = document.getElementById("refreshDiary");
            var NewFeelings = document.getElementById("NewFeelings");
            
            // ...and take over its submit event.
            SimpleFoodForm.addEventListener("submit", function (event) {
                event.preventDefault();
                sendData("{{ url_for('ShareSimpleFeelings') }}", SimpleFoodForm);
                getData("{{ url_for('GetDiary') }}", "Diary", SimpleFoodForm);
            });
            diary.addEventListener("click", function (event) {
                getData("{{ url_for('GetDiary') }}", "Diary", SimpleFoodForm);
            });
    
            NewFeelings.addEventListener("click", function (event) {
                data = getPandasJSON("{{ url_for('CalcFeels') }}", "Flow", SimpleFoodForm);
            });

            insertdiv = document.getElementById("SliderValue");
            
            value = document.getElementById("FeelingsSlider");
            insertdiv.innerHTML = value.value;
            value.addEventListener("change", function(){
                insertdiv.innerHTML = value.value;
            })

        });
    </script>
{% endblock %}